# srcfb-team-scraper

> Code to scrape team info from SportsReference CFB website

In [1]:
#import relevant packages
import requests as rq
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np
from datetime import date

## Schools

In [2]:
#set the relevant url, must do in parts then join together
url_parts = "https://www.sports-reference.com/cfb/schools/"
url = ''.join(url_parts)
#use get to access the url and save the page
page = rq.get(url)
#save the html content of the page
soup = bs(page.content, 'html.parser')

In [3]:
school_name = [i.find('a').get_text() for i in soup.find_all('td', {"data-stat" : "school_name"})]
school_link = [i.find('a').get('href') for i in soup.find_all('td', {"data-stat" : "school_name"})]

In [4]:
school_df = pd.DataFrame({'school': school_name, 'school_link': school_link})

In [5]:
school_df

                  school                        school_link
0              Air Force            /cfb/schools/air-force/
1                  Akron                /cfb/schools/akron/
2                Alabama              /cfb/schools/alabama/
3    Alameda Coast Guard  /cfb/schools/alameda-coast-guard/
4           Alcorn State         /cfb/schools/alcorn-state/
..                   ...                                ...
293              Wofford              /cfb/schools/wofford/
294                  WPI                  /cfb/schools/wpi/
295              Wyoming              /cfb/schools/wyoming/
296               Xavier               /cfb/schools/xavier/
297                 Yale                 /cfb/schools/yale/

[298 rows x 2 columns]

## School History

In [6]:
school_history = pd.DataFrame(columns=['school_link', 'year', 'conference', 'wins', 'losses', 'ties', 'win_percent', 'pre_rank', 'post_rank', 'coach_name', 'coach_link', 'n_coaches', 'bowl'])
for link in school_df['school_link']:
    
    #set the relevant url, must do in parts then join together
    url_parts = ["https://www.sports-reference.com", link]
    url = ''.join(url_parts)
    #use get to access the url and save the page
    page = rq.get(url)
    #save the html content of the page
    soup = bs(page.content, 'html.parser')
    
    school_link = link
    year = [int(i.get_text()) for i in soup.find_all('td', {'data-stat': 'year_id'})]
    conference = [i.get_text() for i in soup.find_all('td', {'data-stat': 'conf_id'})]
    wins = [i.get_text() for i in soup.find_all('td', {'data-stat': 'wins'})]
    losses = [i.get_text() for i in soup.find_all('td', {'data-stat': 'losses'})]
    ties = [i.get_text() for i in soup.find_all('td', {'data-stat': 'ties'})]
    win_percent = [i.get_text() for i in soup.find_all('td', {'data-stat': 'win_loss_pct'})]
    pre_rank = [i.get_text() for i in soup.find_all('td', {'data-stat': 'rank_pre'})]
    post_rank = [i.get_text() for i in soup.find_all('td', {'data-stat': 'rank_final'})]
    coach_name = [i.get_text().split(' (')[0] for i in soup.find_all('td', {'data-stat': 'coaches'})]
    coach_link_base = [i.find('a', href=True) for i in soup.find_all('td', {'data-stat': 'coaches'})]
    coach_link = [i['href'] if i is not None else np.nan for i in coach_link_base]
    n_coaches = [len(i.get_text().split(',')) for i in soup.find_all('td', {'data-stat': 'coaches'})]
    bowl = [i.get_text() for i in soup.find_all('td', {'data-stat': 'bowl_name'})]
#     notes = [i.get_text() for i in soup.find_all('td', {'data-stat': 'notes'})]
    
    curr_school = pd.DataFrame({
        'school_link': school_link,
        'year': year,
        'conference': conference,
        'wins': wins,
        'losses': losses,
        'ties': ties,
        'win_percent': win_percent,
        'pre_rank': pre_rank,
        'post_rank': post_rank,
        'coach_name': coach_name,
        'coach_link': coach_link,
        'n_coaches': n_coaches,
        'bowl': bowl,
#         'notes': notes
    })
    
    school_history = school_history.append(curr_school, ignore_index=True)

In [7]:
school_history

,school_link,year,conference,wins,losses,ties,win_percent,pre_rank,post_rank,coach_name,coach_link,n_coaches,bowl
0,/cfb/schools/air-force/,2021,MWC,10,3,,.769,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,First Responder Bowl-W
1,/cfb/schools/air-force/,2020,MWC,3,3,0,.500,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,
2,/cfb/schools/air-force/,2019,MWC,11,2,0,.846,,22,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,Cheez-It Bowl-W
3,/cfb/schools/air-force/,2018,MWC,5,7,0,.417,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,
4,/cfb/schools/air-force/,2017,MWC,5,7,0,.417,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13868,/cfb/schools/yale/,1876,Ind,3,0,0,1.000,,,,NaN,1,
13869,/cfb/schools/yale/,1875,Ind,2,2,0,.500,,,,NaN,1,
13870,/cfb/schools/yale/,1874,Ind,3,0,0,1.000,,,,NaN,1,
13871,/cfb/schools/yale/,1873,Ind,2,1,0,.667,,,,NaN,1,
13872,/cfb/schools/yale/,1872,Ind,1,0,0,1.000,,,,NaN,1,

In [8]:
school_history.fillna('')

,school_link,year,conference,wins,losses,ties,win_percent,pre_rank,post_rank,coach_name,coach_link,n_coaches,bowl
0,/cfb/schools/air-force/,2021,MWC,10,3,,.769,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,First Responder Bowl-W
1,/cfb/schools/air-force/,2020,MWC,3,3,0,.500,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,
2,/cfb/schools/air-force/,2019,MWC,11,2,0,.846,,22,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,Cheez-It Bowl-W
3,/cfb/schools/air-force/,2018,MWC,5,7,0,.417,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,
4,/cfb/schools/air-force/,2017,MWC,5,7,0,.417,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13868,/cfb/schools/yale/,1876,Ind,3,0,0,1.000,,,,,1,
13869,/cfb/schools/yale/,1875,Ind,2,2,0,.500,,,,,1,
13870,/cfb/schools/yale/,1874,Ind,3,0,0,1.000,,,,,1,
13871,/cfb/schools/yale/,1873,Ind,2,1,0,.667,,,,,1,
13872,/cfb/schools/yale/,1872,Ind,1,0,0,1.000,,,,,1,

In [9]:
school_data = pd.merge(school_df, school_history, on='school_link')

In [10]:
school_data

,school,school_link,year,conference,wins,losses,ties,win_percent,pre_rank,post_rank,coach_name,coach_link,n_coaches,bowl
0,Air Force,/cfb/schools/air-force/,2021,MWC,10,3,,.769,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,First Responder Bowl-W
1,Air Force,/cfb/schools/air-force/,2020,MWC,3,3,0,.500,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,
2,Air Force,/cfb/schools/air-force/,2019,MWC,11,2,0,.846,,22,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,Cheez-It Bowl-W
3,Air Force,/cfb/schools/air-force/,2018,MWC,5,7,0,.417,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,
4,Air Force,/cfb/schools/air-force/,2017,MWC,5,7,0,.417,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13868,Yale,/cfb/schools/yale/,1876,Ind,3,0,0,1.000,,,,NaN,1,
13869,Yale,/cfb/schools/yale/,1875,Ind,2,2,0,.500,,,,NaN,1,
13870,Yale,/cfb/schools/yale/,1874,Ind,3,0,0,1.000,,,,NaN,1,
13871,Yale,/cfb/schools/yale/,1873,Ind,2,1,0,.667,,,,NaN,1,
13872,Yale,/cfb/schools/yale/,1872,Ind,1,0,0,1.000,,,,NaN,1,

## Year Summary Page

In [11]:
national_champs_df = pd.DataFrame(columns=['year', 'school', 'national_champs'])
conference_champs_df = pd.DataFrame(columns=['year', 'conference', 'school', 'conference_champs'])
awards_df = pd.DataFrame(columns=['year', 'award', 'school', 'award_winner'])

for year in range(1869, date.today().year):
    #set the relevant url, must do in parts then join together
    url_parts = ["https://www.sports-reference.com/cfb/years/", str(year), ".html"]
    url = ''.join(url_parts)
    #use get to access the url and save the page
    page = rq.get(url)
    #save the html content of the page
    soup = bs(page.content, 'html.parser')
    
    try:
        #national champion
        champion = [i.get_text() for i in soup.p.find_all('a')]
    except:
        champion = np.nan
    try:
        #conference champs
        conference = [i.get_text() for i in soup.find_all('td', {'data-stat': 'conf_name'})]
        conference_champs = [i.get_text() for i in soup.find_all('td', {'data-stat': 'conf_champ'})]
    except:
        conference = np.nan
        conference_champs = np.nan
    try:
        #award winners
        award = [i.get_text() for i in soup.find_all('th', {'data-stat': 'award_name', 'scope': 'row'})]
        award_winner = [i.get_text() for i in soup.find_all('td', {'data-stat': 'school_name'})]
    except:
        award = np.nan
        award_winner = np.nan
    
    curr_national_champs = pd.DataFrame({'year': [year], 'school': [champion], 'national_champs': 1})
    curr_conference_champs = pd.DataFrame({'year': year, 'conference': conference, 'school': conference_champs, 'conference_champs': 1})
    curr_awards = pd.DataFrame({'year': year, 'award': award, 'school': award_winner, 'award_winner': 1})
    
    national_champs_df = national_champs_df.append(curr_national_champs).reset_index(drop=True)
    conference_champs_df = conference_champs_df.append(curr_conference_champs).reset_index(drop=True)
    awards_df = awards_df.append(curr_awards).reset_index(drop=True)

In [12]:
national_champs_df = national_champs_df[national_champs_df.school.map(lambda x: len(x)) > 0].reset_index(drop=True)
national_champs_df = national_champs_df.explode('school').reset_index(drop=True)

In [13]:
national_champs_df

     year     school national_champs
0    1869  Princeton               1
1    1870  Princeton               1
2    1872  Princeton               1
3    1873  Princeton               1
4    1874       Yale               1
..    ...        ...             ...
180  2017    Alabama               1
181  2018    Clemson               1
182  2019        LSU               1
183  2020    Alabama               1
184  2021    Georgia               1

[185 rows x 3 columns]

In [14]:
conference_champs_df = conference_champs_df[conference_champs_df.school != ''].reset_index(drop=True)
conference_champs_df['school'] = conference_champs_df['school'].str.split(', ')
conference_champs_df = conference_champs_df.explode('school').drop(columns='conference').reset_index(drop=True)

In [15]:
conference_champs_df

      year            school conference_champs
0     1896         Wisconsin                 1
1     1897         Wisconsin                 1
2     1898          Michigan                 1
3     1899           Chicago                 1
4     1900              Iowa                 1
...    ...               ...               ...
1270  2020        Cincinnati                 1
1271  2020  Coastal Carolina                 1
1272  2020            Oregon                 1
1273  2020    San Jose State                 1
1274  2020               UAB                 1

[1275 rows x 3 columns]

In [16]:
awards_df = awards_df[awards_df.award.isin(['Heisman Memorial Trophy', 'AP Coach of the Year Award'])].reset_index(drop=True)

In [17]:
awards_df = awards_df.pivot_table(index=["year", "school"], columns=["award"],values="award_winner", aggfunc='first')

In [18]:
awards_df

award                  AP Coach of the Year Award  Heisman Memorial Trophy
year school
1935 Chicago                                  NaN                      1.0
1936 Yale                                     NaN                      1.0
1937 Yale                                     NaN                      1.0
1938 Texas Christian                          NaN                      1.0
1939 Iowa                                     NaN                      1.0
...                                           ...                      ...
2019 LSU                                      1.0                      1.0
2020 Alabama                                  NaN                      1.0
     Coastal Carolina                         1.0                      NaN
2021 Alabama                                  NaN                      1.0
     Michigan                                 1.0                      NaN

[109 rows x 2 columns]

In [19]:
school_data = pd.merge(school_data, national_champs_df, on = ['year', 'school'], how = 'left')

In [20]:
school_data.fillna(0)

,school,school_link,year,conference,wins,losses,ties,win_percent,pre_rank,post_rank,coach_name,coach_link,n_coaches,bowl,national_champs
0,Air Force,/cfb/schools/air-force/,2021,MWC,10,3,,.769,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,First Responder Bowl-W,0
1,Air Force,/cfb/schools/air-force/,2020,MWC,3,3,0,.500,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,,0
2,Air Force,/cfb/schools/air-force/,2019,MWC,11,2,0,.846,,22,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,Cheez-It Bowl-W,0
3,Air Force,/cfb/schools/air-force/,2018,MWC,5,7,0,.417,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,,0
4,Air Force,/cfb/schools/air-force/,2017,MWC,5,7,0,.417,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13868,Yale,/cfb/schools/yale/,1876,Ind,3,0,0,1.000,,,,0,1,,1
13869,Yale,/cfb/schools/yale/,1875,Ind,2,2,0,.500,,,,0,1,,0
13870,Yale,/cfb/schools/yale/,1874,Ind,3,0,0,1.000,,,,0,1,,1
13871,Yale,/cfb/schools/yale/,1873,Ind,2,1,0,.667,,,,0,1,,0
13872,Yale,/cfb/schools/yale/,1872,Ind,1,0,0,1.000,,,,0,1,,0

In [21]:
school_data = pd.merge(school_data, conference_champs_df, on = ['year', 'school'], how = 'left')

In [22]:
school_data.fillna(0)

,school,school_link,year,conference,wins,losses,ties,win_percent,pre_rank,post_rank,coach_name,coach_link,n_coaches,bowl,national_champs,conference_champs
0,Air Force,/cfb/schools/air-force/,2021,MWC,10,3,,.769,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,First Responder Bowl-W,0,0
1,Air Force,/cfb/schools/air-force/,2020,MWC,3,3,0,.500,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,,0,0
2,Air Force,/cfb/schools/air-force/,2019,MWC,11,2,0,.846,,22,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,Cheez-It Bowl-W,0,0
3,Air Force,/cfb/schools/air-force/,2018,MWC,5,7,0,.417,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,,0,0
4,Air Force,/cfb/schools/air-force/,2017,MWC,5,7,0,.417,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13868,Yale,/cfb/schools/yale/,1876,Ind,3,0,0,1.000,,,,0,1,,1,0
13869,Yale,/cfb/schools/yale/,1875,Ind,2,2,0,.500,,,,0,1,,0,0
13870,Yale,/cfb/schools/yale/,1874,Ind,3,0,0,1.000,,,,0,1,,1,0
13871,Yale,/cfb/schools/yale/,1873,Ind,2,1,0,.667,,,,0,1,,0,0
13872,Yale,/cfb/schools/yale/,1872,Ind,1,0,0,1.000,,,,0,1,,0,0

In [23]:
school_data = pd.merge(school_data, awards_df, on = ['year', 'school'], how = 'left').fillna(0)

In [24]:
school_data

,school,school_link,year,conference,wins,losses,ties,win_percent,pre_rank,post_rank,coach_name,coach_link,n_coaches,bowl,national_champs,conference_champs,AP Coach of the Year Award,Heisman Memorial Trophy
0,Air Force,/cfb/schools/air-force/,2021,MWC,10,3,,.769,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,First Responder Bowl-W,0,0,0.0,0.0
1,Air Force,/cfb/schools/air-force/,2020,MWC,3,3,0,.500,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,,0,0,0.0,0.0
2,Air Force,/cfb/schools/air-force/,2019,MWC,11,2,0,.846,,22,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,Cheez-It Bowl-W,0,0,0.0,0.0
3,Air Force,/cfb/schools/air-force/,2018,MWC,5,7,0,.417,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,,0,0,0.0,0.0
4,Air Force,/cfb/schools/air-force/,2017,MWC,5,7,0,.417,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13868,Yale,/cfb/schools/yale/,1876,Ind,3,0,0,1.000,,,,0,1,,1,0,0.0,0.0
13869,Yale,/cfb/schools/yale/,1875,Ind,2,2,0,.500,,,,0,1,,0,0,0.0,0.0
13870,Yale,/cfb/schools/yale/,1874,Ind,3,0,0,1.000,,,,0,1,,1,0,0.0,0.0
13871,Yale,/cfb/schools/yale/,1873,Ind,2,1,0,.667,,,,0,1,,0,0,0.0,0.0
13872,Yale,/cfb/schools/yale/,1872,Ind,1,0,0,1.000,,,,0,1,,0,0,0.0,0.0

## All Americans

In [25]:
def round_down(number, unit = 10):
    return number // unit * unit

In [26]:
decade_list = list(set([round_down(i) for i in range(1889, date.today().year)]))
decade_list.sort() 

all_american_df = pd.DataFrame(columns=['year', 'player', 'position', 'school'])
for decade in decade_list:
    #set the relevant url, must do in parts then join together
    url_parts = ["https://www.sports-reference.com/cfb/awards/all-america-", str(decade), "-", str(decade+9), ".html"]
    url = ''.join(url_parts)
    #use get to access the url and save the page
    page = rq.get(url)
    #save the html content of the page
    soup = bs(page.content, 'html.parser')
    
    year = [int(i.get_text()) for i in soup.find_all('th', {'data-stat': 'year_id', 'scope': 'row'})]
    player = [i.get_text() for i in soup.find_all('td', {'data-stat': 'player'})]
    position = [i.get_text() for i in soup.find_all('td', {'data-stat': 'pos'})]
    school = [i.get_text() for i in soup.find_all('td', {'data-stat': 'school'})]
    
    curr_decade = pd.DataFrame({'year': year, 'player': player, 'position': position, 'school': school, 'all_american': 1})
    
    all_american_df = all_american_df.append(curr_decade).reset_index(drop=True)

In [27]:
all_american_df['position'] = all_american_df["position"].replace("C", "OL")

In [28]:
all_american_df = all_american_df.pivot_table(index=["year", "school"], columns=["position"],values="all_american", aggfunc='first').drop(columns=['B', 'E', 'L']).fillna(0)#[['AP', 'DB', 'DL', 'K', 'KR', 'LB', 'OL', 'P', 'QB', 'RB', 'TE', 'WR']]

In [29]:
all_american_df['Off_AA'] = all_american_df['AP'] + all_american_df['OL'] + all_american_df['QB'] + all_american_df['RB'] + all_american_df['TE'] + all_american_df['WR'] 
all_american_df['Def_AA'] = all_american_df['DB'] + all_american_df['DL'] + all_american_df['LB']
all_american_df['ST_AA'] = all_american_df['K'] + all_american_df['KR'] + all_american_df['P']

In [30]:
all_american_df

position             AP   DB   DL    K   KR   LB   OL    P   QB   RB   TE  \
year school
1889 Harvard        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
     Princeton      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
     Yale           0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1890 Harvard        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
     Princeton      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...                 ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2020 Texas          0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
     Texas A&M      0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
     Tulsa          0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
     USC            0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
     West Virginia  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

position             WR  Off_AA  Def_AA  ST_AA
year school
1889 Harvard        0.0     0.0     0.0    0.0
     Princeton      0.0     0.0     0.0    0.0
     Yale           0.0     0.0     0.0    0.0
1890 Harvard        0.0     0.0     0.0    0.0
     Princeton      0.0     0.0     0.0    0.0
...                 ...     ...     ...    ...
2020 Texas          0.0     0.0     1.0    0.0
     Texas A&M      0.0     1.0     0.0    0.0
     Tulsa          0.0     0.0     1.0    0.0
     USC            0.0     0.0     1.0    0.0
     West Virginia  0.0     0.0     1.0    0.0

[1709 rows x 15 columns]

In [31]:
school_data = pd.merge(school_data, all_american_df, on = ['year', 'school'], how = 'left').fillna(0)

In [32]:
school_data

,school,school_link,year,conference,wins,losses,ties,win_percent,pre_rank,post_rank,...,LB,OL,P,QB,RB,TE,WR,Off_AA,Def_AA,ST_AA
0,Air Force,/cfb/schools/air-force/,2021,MWC,10,3,,.769,,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Air Force,/cfb/schools/air-force/,2020,MWC,3,3,0,.500,,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Air Force,/cfb/schools/air-force/,2019,MWC,11,2,0,.846,,22,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Air Force,/cfb/schools/air-force/,2018,MWC,5,7,0,.417,,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Air Force,/cfb/schools/air-force/,2017,MWC,5,7,0,.417,,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13868,Yale,/cfb/schools/yale/,1876,Ind,3,0,0,1.000,,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13869,Yale,/cfb/schools/yale/,1875,Ind,2,2,0,.500,,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13870,Yale,/cfb/schools/yale/,1874,Ind,3,0,0,1.000,,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13871,Yale,/cfb/schools/yale/,1873,Ind,2,1,0,.667,,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13872,Yale,/cfb/schools/yale/,1872,Ind,1,0,0,1.000,,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Team Offense

In [33]:
team_offense_df = pd.DataFrame(columns=['year', 'school', 'pass_att', 'pass_yd', 'pass_td', 'rush_att', 'rush_yd', 'rush_td', 'turnovers'])
for year in range(2000, date.today().year):
    #set the relevant url, must do in parts then join together
    url_parts = ["https://www.sports-reference.com/cfb/years/", str(year), "-team-offense.html"]
    url = ''.join(url_parts)
    #use get to access the url and save the page
    page = rq.get(url)
    #save the html content of the page
    soup = bs(page.content, 'html.parser')
    
    school = [i.get_text() for i in soup.find_all('td', {'data-stat': 'school_name'})]
    pass_att = [i.get_text() for i in soup.find_all('td', {'data-stat': 'pass_att'})]
    pass_yd = [i.get_text() for i in soup.find_all('td', {'data-stat': 'pass_yds'})]
    pass_td = [i.get_text() for i in soup.find_all('td', {'data-stat': 'pass_td'})]
    rush_att = [i.get_text() for i in soup.find_all('td', {'data-stat': 'rush_att'})]
    rush_yd = [i.get_text() for i in soup.find_all('td', {'data-stat': 'rush_yds'})]
    rush_td = [i.get_text() for i in soup.find_all('td', {'data-stat': 'rush_td'})]
    turnovers = [i.get_text() for i in soup.find_all('td', {'data-stat': 'turnovers'})]
    
    curr_stats = pd.DataFrame({'year': year, 'school': school, 'pass_att': pass_att, 'pass_yd': pass_yd, 'pass_td': pass_td, 'rush_att': rush_att, 'rush_yd': rush_yd, 'rush_td': rush_td, 'turnovers': turnovers})
    team_offense_df = team_offense_df.append(curr_stats).reset_index(drop=True)

In [34]:
team_offense_df

,year,school,pass_att,pass_yd,pass_td,rush_att,rush_yd,rush_td,turnovers
0,2000,Boise State,33.8,321.5,3.4,40.0,174.7,2.1,1.4
1,2000,Miami (FL),30.9,266.0,2.4,39.5,194.8,2.2,1.9
2,2000,Florida State,39.1,384.0,3.0,37.9,165.0,2.3,1.8
3,2000,Nebraska,15.6,110.6,1.0,57.8,349.3,4.1,1.5
4,2000,Virginia Tech,20.5,155.9,0.8,51.8,270.5,4.2,2.1
...,...,...,...,...,...,...,...,...,...
2699,2021,Massachusetts,27.7,153.3,0.9,34.6,147.3,1.2,1.7
2700,2021,Temple,30.2,176.2,0.8,30.0,111.3,1.0,1.7
2701,2021,Vanderbilt,34.1,189.3,1.0,35.2,123.3,0.7,1.6
2702,2021,Connecticut,33.9,163.8,0.9,31.3,101.3,0.7,1.8
2703,2021,New Mexico,21.5,113.8,0.8,38.9,120.7,0.4,1.7

In [35]:
school_data = pd.merge(school_data, team_offense_df, on = ['year', 'school'], how = 'left')

## Team Defense

In [36]:
team_defense_df = pd.DataFrame(columns=['year', 'school', 'opp_pass_yd', 'opp_pass_td', 'opp_rush_yd', 'opp_rush_td', 'takeaways'])
for year in range(2000, date.today().year):
    #set the relevant url, must do in parts then join together
    url_parts = ["https://www.sports-reference.com/cfb/years/", str(year), "-team-defense.html"]
    url = ''.join(url_parts)
    #use get to access the url and save the page
    page = rq.get(url)
    #save the html content of the page
    soup = bs(page.content, 'html.parser')
    
    school = [i.get_text() for i in soup.find_all('td', {'data-stat': 'school_name'})]
    opp_pass_yd = [i.get_text() for i in soup.find_all('td', {'data-stat': 'opp_pass_yds'})]
    opp_pass_td = [i.get_text() for i in soup.find_all('td', {'data-stat': 'opp_pass_td'})]
    opp_rush_yd = [i.get_text() for i in soup.find_all('td', {'data-stat': 'opp_rush_yds'})]
    opp_rush_td = [i.get_text() for i in soup.find_all('td', {'data-stat': 'opp_rush_td'})]
    takeaways = [i.get_text() for i in soup.find_all('td', {'data-stat': 'opp_turnovers'})]
    
    curr_stats = pd.DataFrame({'year': year, 'school': school, 'opp_pass_yd': opp_pass_yd, 'opp_pass_td': opp_pass_td, 'opp_rush_yd': opp_rush_yd, 'opp_rush_td': opp_rush_td, 'takeaways': takeaways})
    team_defense_df = team_defense_df.append(curr_stats).reset_index(drop=True)

In [37]:
team_defense_df

,year,school,opp_pass_yd,opp_pass_td,opp_rush_yd,opp_rush_td,takeaways
0,2000,Texas Christian,160.6,0.9,84.4,0.3,2.5
1,2000,Florida State,203.1,0.6,73.9,0.5,2.7
2,2000,Toledo,187.5,0.5,81.5,0.9,2.8
3,2000,Western Michigan,178.0,0.8,105.3,0.3,1.5
4,2000,Miami (FL),220.6,1.0,112.7,1.0,3.0
...,...,...,...,...,...,...,...
2699,2021,Florida International,262.8,2.3,229.8,2.5,0.8
2700,2021,Duke,311.8,2.7,206.4,2.2,1.2
2701,2021,New Mexico State,294.3,2.6,194.8,2.2,1.7
2702,2021,Kansas,236.8,2.3,250.6,3.3,1.3
2703,2021,Massachusetts,249.6,2.0,235.3,3.6,0.9

In [38]:
school_data = pd.merge(school_data, team_defense_df, on = ['year', 'school'], how = 'left')

In [39]:
school_data

,school,school_link,year,conference,wins,losses,ties,win_percent,pre_rank,post_rank,...,pass_td,rush_att,rush_yd,rush_td,turnovers,opp_pass_yd,opp_pass_td,opp_rush_yd,opp_rush_td,takeaways
0,Air Force,/cfb/schools/air-force/,2021,MWC,10,3,,.769,,,...,0.6,63.8,328.7,3.4,0.7,194.3,1.2,102.5,1.4,1.2
1,Air Force,/cfb/schools/air-force/,2020,MWC,3,3,0,.500,,,...,0.5,52.0,305.7,2.7,1.3,166.8,1.2,137.7,0.7,1.3
2,Air Force,/cfb/schools/air-force/,2019,MWC,11,2,0,.846,,22,...,1.1,58.0,299.0,3.2,1.4,219.1,1.6,100.5,0.8,1.2
3,Air Force,/cfb/schools/air-force/,2018,MWC,5,7,0,.417,,,...,0.8,59.4,283.7,2.8,1.3,244.0,1.9,116.9,1.4,1.2
4,Air Force,/cfb/schools/air-force/,2017,MWC,5,7,0,.417,,,...,0.8,63.6,306.3,3.2,1.7,171.1,1.3,222.8,2.6,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13868,Yale,/cfb/schools/yale/,1876,Ind,3,0,0,1.000,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13869,Yale,/cfb/schools/yale/,1875,Ind,2,2,0,.500,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13870,Yale,/cfb/schools/yale/,1874,Ind,3,0,0,1.000,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13871,Yale,/cfb/schools/yale/,1873,Ind,2,1,0,.667,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13872,Yale,/cfb/schools/yale/,1872,Ind,1,0,0,1.000,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Team Special Teams

In [40]:
special_teams_df = pd.DataFrame(columns=['year', 'school', 'xp_att', 'fg_att', 'kick_points', 'punt_att', 'punt_avg'])
for year in range(2000, date.today().year):
    #set the relevant url, must do in parts then join together
    url_parts = ["https://www.sports-reference.com/cfb/years/", str(year), "-special-teams.html"]
    url = ''.join(url_parts)
    #use get to access the url and save the page
    page = rq.get(url)
    #save the html content of the page
    soup = bs(page.content, 'html.parser')
    
    school = [i.get_text() for i in soup.find_all('td', {'data-stat': 'school_name'})]
    xp_att = [i.get_text() for i in soup.find_all('td', {'data-stat': 'xpa'})]
    fg_att = [i.get_text() for i in soup.find_all('td', {'data-stat': 'fga'})]
    kick_points = [i.get_text() for i in soup.find_all('td', {'data-stat': 'kick_points'})]
    punt_att = [i.get_text() for i in soup.find_all('td', {'data-stat': 'punt'})]
    punt_avg = [i.get_text() for i in soup.find_all('td', {'data-stat': 'punt_yds_per_punt'})]
    
    curr_stats = pd.DataFrame({'year': year, 'school': school, 'xp_att': xp_att, 'fg_att': fg_att, 'kick_points': kick_points, 'punt_att': punt_att, 'punt_avg': punt_avg})
    special_teams_df = special_teams_df.append(curr_stats).reset_index(drop=True)

In [41]:
special_teams_df

      year            school xp_att fg_att kick_points punt_att punt_avg
0     2000         Air Force    3.7    2.2         8.7      4.6     40.0
1     2000             Akron    3.7    1.5         6.5      4.7     39.7
2     2000           Alabama    2.5    1.2         4.9      5.5     40.0
3     2000           Arizona    2.4    1.5         5.8      7.4     36.8
4     2000     Arizona State    3.0    2.1         6.9      7.5     39.6
...    ...               ...    ...    ...         ...      ...      ...
2699  2021     West Virginia    2.8    1.8         7.2      4.0     43.5
2700  2021  Western Kentucky    5.2    2.1        10.1      2.4     48.1
2701  2021  Western Michigan    4.2    1.4         6.6      3.6     42.2
2702  2021         Wisconsin    3.1    1.7         6.9      4.1     45.3
2703  2021           Wyoming    3.2    1.1         5.4      4.5     42.5

[2704 rows x 7 columns]

In [42]:
school_data = pd.merge(school_data, special_teams_df, on = ['year', 'school'], how = 'left')

In [43]:
school_data

,school,school_link,year,conference,wins,losses,ties,win_percent,pre_rank,post_rank,...,opp_pass_yd,opp_pass_td,opp_rush_yd,opp_rush_td,takeaways,xp_att,fg_att,kick_points,punt_att,punt_avg
0,Air Force,/cfb/schools/air-force/,2021,MWC,10,3,,.769,,,...,194.3,1.2,102.5,1.4,1.2,3.8,1.2,6.2,3.1,40.2
1,Air Force,/cfb/schools/air-force/,2020,MWC,3,3,0,.500,,,...,166.8,1.2,137.7,0.7,1.3,2.8,1.5,5.3,2.7,40.7
2,Air Force,/cfb/schools/air-force/,2019,MWC,11,2,0,.846,,22,...,219.1,1.6,100.5,0.8,1.2,4.3,1.0,7.0,2.4,40.4
3,Air Force,/cfb/schools/air-force/,2018,MWC,5,7,0,.417,,,...,244.0,1.9,116.9,1.4,1.2,3.5,1.2,5.9,3.7,39.1
4,Air Force,/cfb/schools/air-force/,2017,MWC,5,7,0,.417,,,...,171.1,1.3,222.8,2.6,0.8,3.8,1.1,6.3,3.4,42.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13868,Yale,/cfb/schools/yale/,1876,Ind,3,0,0,1.000,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13869,Yale,/cfb/schools/yale/,1875,Ind,2,2,0,.500,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13870,Yale,/cfb/schools/yale/,1874,Ind,3,0,0,1.000,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13871,Yale,/cfb/schools/yale/,1873,Ind,2,1,0,.667,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13872,Yale,/cfb/schools/yale/,1872,Ind,1,0,0,1.000,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Final DF

In [44]:
pd.set_option("display.max_columns", None)

In [45]:
school_data

,school,school_link,year,conference,wins,losses,ties,win_percent,pre_rank,post_rank,coach_name,coach_link,n_coaches,bowl,national_champs,conference_champs,AP Coach of the Year Award,Heisman Memorial Trophy,AP,DB,DL,K,KR,LB,OL,P,QB,RB,TE,WR,Off_AA,Def_AA,ST_AA,pass_att,pass_yd,pass_td,rush_att,rush_yd,rush_td,turnovers,opp_pass_yd,opp_pass_td,opp_rush_yd,opp_rush_td,takeaways,xp_att,fg_att,kick_points,punt_att,punt_avg
0,Air Force,/cfb/schools/air-force/,2021,MWC,10,3,,.769,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,First Responder Bowl-W,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.7,95.5,0.6,63.8,328.7,3.4,0.7,194.3,1.2,102.5,1.4,1.2,3.8,1.2,6.2,3.1,40.2
1,Air Force,/cfb/schools/air-force/,2020,MWC,3,3,0,.500,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.2,83.7,0.5,52.0,305.7,2.7,1.3,166.8,1.2,137.7,0.7,1.3,2.8,1.5,5.3,2.7,40.7
2,Air Force,/cfb/schools/air-force/,2019,MWC,11,2,0,.846,,22,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,Cheez-It Bowl-W,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.7,123.2,1.1,58.0,299.0,3.2,1.4,219.1,1.6,100.5,0.8,1.2,4.3,1.0,7.0,2.4,40.4
3,Air Force,/cfb/schools/air-force/,2018,MWC,5,7,0,.417,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,131.3,0.8,59.4,283.7,2.8,1.3,244.0,1.9,116.9,1.4,1.2,3.5,1.2,5.9,3.7,39.1
4,Air Force,/cfb/schools/air-force/,2017,MWC,5,7,0,.417,,,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.9,110.1,0.8,63.6,306.3,3.2,1.7,171.1,1.3,222.8,2.6,0.8,3.8,1.1,6.3,3.4,42.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13868,Yale,/cfb/schools/yale/,1876,Ind,3,0,0,1.000,,,,0,1,,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13869,Yale,/cfb/schools/yale/,1875,Ind,2,2,0,.500,,,,0,1,,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13870,Yale,/cfb/schools/yale/,1874,Ind,3,0,0,1.000,,,,0,1,,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13871,Yale,/cfb/schools/yale/,1873,Ind,2,1,0,.667,,,,0,1,,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13872,Yale,/cfb/schools/yale/,1872,Ind,1,0,0,1.000,,,,0,1,,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
school_data.replace('', np.nan, inplace=True)

In [47]:
school_data

,school,school_link,year,conference,wins,losses,ties,win_percent,pre_rank,post_rank,coach_name,coach_link,n_coaches,bowl,national_champs,conference_champs,AP Coach of the Year Award,Heisman Memorial Trophy,AP,DB,DL,K,KR,LB,OL,P,QB,RB,TE,WR,Off_AA,Def_AA,ST_AA,pass_att,pass_yd,pass_td,rush_att,rush_yd,rush_td,turnovers,opp_pass_yd,opp_pass_td,opp_rush_yd,opp_rush_td,takeaways,xp_att,fg_att,kick_points,punt_att,punt_avg
0,Air Force,/cfb/schools/air-force/,2021,MWC,10,3,NaN,.769,NaN,NaN,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,First Responder Bowl-W,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.7,95.5,0.6,63.8,328.7,3.4,0.7,194.3,1.2,102.5,1.4,1.2,3.8,1.2,6.2,3.1,40.2
1,Air Force,/cfb/schools/air-force/,2020,MWC,3,3,0,.500,NaN,NaN,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,NaN,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.2,83.7,0.5,52.0,305.7,2.7,1.3,166.8,1.2,137.7,0.7,1.3,2.8,1.5,5.3,2.7,40.7
2,Air Force,/cfb/schools/air-force/,2019,MWC,11,2,0,.846,NaN,22,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,Cheez-It Bowl-W,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.7,123.2,1.1,58.0,299.0,3.2,1.4,219.1,1.6,100.5,0.8,1.2,4.3,1.0,7.0,2.4,40.4
3,Air Force,/cfb/schools/air-force/,2018,MWC,5,7,0,.417,NaN,NaN,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,NaN,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,131.3,0.8,59.4,283.7,2.8,1.3,244.0,1.9,116.9,1.4,1.2,3.5,1.2,5.9,3.7,39.1
4,Air Force,/cfb/schools/air-force/,2017,MWC,5,7,0,.417,NaN,NaN,Troy Calhoun,/cfb/coaches/troy-calhoun-1.html,1,NaN,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.9,110.1,0.8,63.6,306.3,3.2,1.7,171.1,1.3,222.8,2.6,0.8,3.8,1.1,6.3,3.4,42.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13868,Yale,/cfb/schools/yale/,1876,Ind,3,0,0,1.000,NaN,NaN,NaN,0,1,NaN,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13869,Yale,/cfb/schools/yale/,1875,Ind,2,2,0,.500,NaN,NaN,NaN,0,1,NaN,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13870,Yale,/cfb/schools/yale/,1874,Ind,3,0,0,1.000,NaN,NaN,NaN,0,1,NaN,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13871,Yale,/cfb/schools/yale/,1873,Ind,2,1,0,.667,NaN,NaN,NaN,0,1,NaN,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13872,Yale,/cfb/schools/yale/,1872,Ind,1,0,0,1.000,NaN,NaN,NaN,0,1,NaN,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
school_data.dtypes

school                         object
school_link                    object
year                            int64
conference                     object
wins                           object
losses                         object
ties                           object
win_percent                    object
pre_rank                       object
post_rank                      object
coach_name                     object
coach_link                     object
n_coaches                       int64
bowl                           object
national_champs                 int64
conference_champs               int64
AP Coach of the Year Award    float64
Heisman Memorial Trophy       float64
AP                            float64
DB                            float64
DL                            float64
K                             float64
KR                            float64
LB                            float64
OL                            float64
P                             float64
QB                            float64
RB                            float64
TE                            float64
WR                            float64
Off_AA                        float64
Def_AA                        float64
ST_AA                         float64
pass_att                       object
pass_yd                        object
pass_td                        object
rush_att                       object
rush_yd                        object
rush_td                        object
turnovers                      object
opp_pass_yd                    object
opp_pass_td                    object
opp_rush_yd                    object
opp_rush_td                    object
takeaways                      object
xp_att                         object
fg_att                         object
kick_points                    object
punt_att                       object
punt_avg                       object
dtype: object

In [49]:
import os
os.getcwd()

'C:\\Users\\kingl\\Desktop\\Projects\\football\\vandy-fb-CLASP\\00-data-collection'

In [50]:
school_data.to_csv('data/srcfb-data.csv', index=False)